<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
   <head>
      <title>Login</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div align="center">
         <h1>Login</h1>
         <span th:if="${invalidCredentials}" class="error">User or Pass is wrong</span>
         <br/>
         <form th:action="@{/login}" th:object="${loginForm}" method="POST">
            <label for="username">User</label>
            <input type="text" id="uname" name="uname" autofocus="autofocus" />
            <br/>
            <label for="password">Password</label>
            <input type="password" id="upass" name="upass" />
            <br/>
            <input type="submit" value="Log In" />
         </form>
      </div>
   </body>
</html>
